extends ../layouts/default

block main
  h1= expense.title.slice(0, 400)

block content
  .row
    .col-md-8
      p=expense.body.slice(0, 1000)
      .meta
        - if (expense.user)
          - var name = expense.user.name ? expense.user.name : expense.user.username
          p Created by:&nbsp;
            a(href="/users/"+expense.user._id)= name

        - if (expense.tags)
          p Tags &nbsp;
            each tag in expense.tags.split(',').slice(0, 10)
              i.text-muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;
  
        p.text-muted= formatDate(expense.createdAt, "%b %d, %Y at %I:%M %p")

  form(action="/expenses/"+expense.id, method="post", onsubmit="return confirm('Are you sure?')")
    input(type='hidden', name='_csrf', value=csrf_token)
    a.btn.btn-outline-primary(href='/expenses/'+expense._id+'/edit', title="edit") Edit
    | &nbsp;
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-link.text-danger(type="submit") Delete

  br
  h3 Receipts
  a.btn.btn-outline-primary(href='/expenses/'+expense._id+'/receipts/add', title="new") Add receipt

  each receipt, index in expense.receipts
    div(class=`py-3 ${index && 'border-top'}`)
      span Receipt # #{index+1}
      br
      include ../receipts/receipt

  br
  br
  .row
    .col-md-4
      h3 Comments
      if expense.comments.length == 0 
        span No comments
      each comment, index in expense.comments
        div(class=`py-3 ${index && 'border-top'}`)
          include ../comments/comment
    .col-md-4
      include ../comments/form